<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Label</key>
        <string>cx.pow.powd</string>
        <key>ProgramArguments</key>
        <array>
                <string>/Users/jacobdalton/Library/Application Support/Pow/Versions/0.5.0/bin/node</string>
                <string>/Users/jacobdalton/Library/Application Support/Pow/Versions/0.5.0/bin/pow</string>
        </array>
        <key>KeepAlive</key>
        <true/>
        <key>RunAtLoad</key>
        <true/>
</dict>
</plist>